<div class="container text-center">
    <div class="banner-text">
        <h1>Find Your <span id="desire">Desire</span> Job</h1>
        <p>Jobs, Employment &amp; Future Career Opportunities</p>
    </div>
     <div class="searchcontainer">
         <div class="container1">
         <div class="myrow">
         <form class="row">
         <div id="jobtitle">
            <input class="myselection" placeholder="Job Title *">
         </div>
         <span class="vl"></span>
         <div id="company">
             <input class="myselection" placeholder="Company *">
         </div>  
         <span class="vl"></span>
         <div id="location"> <select class="myselection">
            <option  value="">City or State *</option>
            <option>Chennai1</option>
            <option>Chennai2</option>
         </select> 
         </div>
         <span class="vl"></span>
         <div id="Searchbtn">
             <button id="myselection" type="submit">Search</button>
         </div>
        </form>
      </div>
    </div>
    </div>
    <div routerLink="/">Logout</div>
</div>

<!-- <div class="banner-area banner-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Find Your <span>Desire</span> Job</h1>
                    <p>Jobs, Employment &amp; Future Career Opportunities</p>
                    <div class="banner-form-area">
                        <form>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Job Title">
                                        <label>
                                            <i class="icofont-search-1"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <i class="icofont-location-pin"></i>
                                        </label>
                                        <input type="text" class="form-control" placeholder="City or State">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <select style="display: none;">
                                            <option>Job Category</option>
                                            <option>Another option</option>
                                            <option>A option</option>
                                            <option>Potato</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">Job Category</span><ul class="list"><li data-value="Job Category" class="option selected">Job Category</li><li data-value="Another option" class="option">Another option</li><li data-value="A option" class="option">A option</li><li data-value="Potato" class="option">Potato</li></ul></div>	
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn banner-form-btn">Search</button>
                        </form>
                    </div>
                    <div class="banner-btn">
                        <a href="create-account.html">Create Your Profile</a>
                        <a href="submit-resume.html">Upload Your CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>
