<app-navigation></app-navigation>
<article class="container">
    <h2 class="userProfileTitle">USER PROFILE</h2>
    <form (submit)="userform()" [formGroup]="UserProfile">
       <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal Data
                </mat-panel-title>
                </mat-expansion-panel-header>
              <div>

                <div class="profilePic">
                    <img [src]="imageurl"  alt="ProfilePic" height="150px" width="150px"><br>
                    <input type="file" title="" (change)="imgSelection($event)" style="width:150px;">
                </div>
                <!-- <mat-form-field>
                    <mat-label>Candidate ID</mat-label>
                    <input matInput formControlName="CandidateId">
                </mat-form-field> -->
            </div>
            <div>
            <mat-form-field>
                <mat-label>Job Title</mat-label>
                <select matNativeControl formControlName="JobTitle">
                    <option value="WebDev">Web developer</option>
                    <option value="SoftwareEngineer">Software Engineer</option>
                    <option value="SoftwareDev">Software Developer</option>
                </select>
                
            </mat-form-field>
            </div> 

            <div>
                <mat-form-field>
                    <mat-label>First Name*</mat-label>
                    <input matInput formControlName="FName">
                    <mat-error *ngIf="Fnamectrl.invalid && Fnamectrl.touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="MName">
                    </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name*</mat-label>
                    <input matInput formControlName="LName">
                    <mat-error *ngIf="Lnamectrl.invalid && Lnamectrl.touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Email ID*</mat-label>
                    <input matInput formControlName="Email">
                    <mat-error *ngIf="Emailctrl.invalid && Emailctrl.touched">
                        {{getErrorMessage()}}</mat-error>

                </mat-form-field>



                <mat-form-field >
                    <mat-label>Date Of Birth*</mat-label>
                    <input matInput [matDatepicker]="picker"
                    placeholder="Date Of Birth" formControlName="DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="DOBctrl.invalid && DOBctrl.touched">
                        {{getErrorMessage()}}</mat-error>

                  </mat-form-field>
          </div>

            <div>
                <mat-form-field>
                    <mat-label>Mobile Number*</mat-label>
                    <input matInput formControlName="Mobile">
                    <mat-error *ngIf="Mobilectrl.invalid && Mobilectrl.touched">
                        {{getErrorMessage()}}</mat-error>

                </mat-form-field>                     

                <mat-form-field>
                    <mat-label>Alternate Contact Number</mat-label>
                    <input matInput placeholder="Optional"formControlName="AlternateContact">
                </mat-form-field>

            </div><br>
            <div>
            <section class="example-section checkWhatsapp">
                <mat-checkbox formControlName="WhatsAppCheck"
                class="example-margin">Check Mobile Number is same as WhatsApp number</mat-checkbox>
        </section>
    </div><br>
            <div>
                <mat-form-field>
                    <mat-label>ID Type*</mat-label>
                     <select matNativeControl formControlName="IdType">
                        <option value=""></option>
                         <option value='1'>Passport</option>
                        <option value='2'>Aadhar Card</option>
                        <option value='3'>Driving License</option>
                        <option value='4'>Voter Id</option>
                        <option value='5'>Pan Card</option> 
                    </select> 
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Number</mat-label>
                    <input required matInput formControlName="IdNumber">
                    <mat-error *ngIf="Idnumberctrl.invalid && Idnumberctrl.touched">Enter Valid Id </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="Streetname">
                    <mat-label>Street Name*</mat-label>
                    <input matInput formControlName="StreetName">
                    <mat-error *ngIf="Streetctrl.invalid && Streetctrl.touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="Streetname">
                    <mat-label>Address*</mat-label>
                    <input matInput formControlName="Address">
                    <mat-error *ngIf="Addressctrl.invalid && Addressctrl.touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
                

                <div class="addressBlock" style="width: 200px;" >
                    
                 <label>Select Country</label>
                  <select class="form-control" formControlName="Country"
                  (blur)="onChangeCountry($event.target.value);"
                  (change)="onChangeCountry($event.target.value)" 
                  [ngClass]="{'has-error':Countryctrl.touched && CountryValueNull}">
                    <option value="default">Select Country</option>
                 <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
    
                  </select>  
                  <div class="errortext" *ngIf="CountryValueNull && Countryctrl.touched">
                    {{getErrorMessage()}}</div>
                
                 </div>
                
                 <div class="addressBlock"style="width: 200px;">
                   <label>Select State</label>
                    <select class="form-control"formControlName="State" (blur)="onChangeState($event.target.value);"
                    (change)="onChangeState($event.target.value)"
                    [ngClass]="{'has-error':Statectrl.touched && StateValueNull}">
                        <option value="default">Select State</option>
                        <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
                    </select>  
                    <div class="errortext" *ngIf="StateValueNull && Statectrl.touched">
                        {{getErrorMessage()}}</div>
                    
                 </div>
                 <div class="addressBlock"style="width: 200px;">
                    <label>Select City</label>
                    <select class="form-control" formControlName="City"
                    (blur)="onChangeCity($event.target.value);"
                    [ngClass]="{'has-error':Cityctrl.touched && CityValueNull}">
                        <option value="default">Select City</option>
                      <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
                    </select>  
                    <div class="errortext" *ngIf="CityValueNull && Cityctrl.touched">
                        {{getErrorMessage()}}</div>
                    
                </div>
                
            </div>    
        </mat-expansion-panel>


             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Educational Data
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>

            <div formArrayName="addEduation" 
            *ngFor="let edu of UserProfile.get('addEduation')['controls'];let i=index;">

            <div [formGroupName]="i">

              <div>
                <mat-form-field>
                    <mat-label [attr.for]="'EducationalType'+i">Educational Type</mat-label>
                    <input [id]="'EducationalType'+i" matInput formControlName="EducationalType">
                    <mat-error *ngIf="edu.get('EducationalType').invalid && edu.get('EducationalType').touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label [attr.for]="'CompletedYear'+i">Completed year</mat-label>
                    <input  [id]="'CompletedYear'+i"matInput formControlName="CompletedYear">
                    <mat-error *ngIf="edu.get('CompletedYear').invalid && edu.get('CompletedYear').dirty">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field>
                   <mat-label [attr.for]="'Percentile'+i">Percentile/CGP</mat-label>
                    <input [id]="'Percentile'+i" matInput formControlName="Percentile">
                    <mat-error *ngIf="edu.get('Percentile').invalid && edu.get('Percentile').touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label [attr.for]="'Institution'+i">Name of the Institution</mat-label>
                    <input [id]="'Institution'+i"matInput formControlName="Institution">
                    <mat-error *ngIf="edu.get('Institution').invalid && edu.get('Institution').touched">
                        {{getErrorMessage()}}</mat-error>

                </mat-form-field>
            </div>

        </div><!--FormGroup Closing-->
        <span class="row groupClickButton">
           
          <div class="col-2" *ngIf="educationGroupLength>1">
              <button type="button" mat-raised-button color="warn" (click)="removeEducationButtonClick(i)">
              Remove</button>
          </div>

          <div class="col-2" >
            <button class="addEducationbtn" mat-raised-button  color="primary" (click)="addEducationButtonClick()"
            [disabled]="UserProfile.get('addEduation').invalid">Add Additional Education Info</button>
        </div>
        
        </span>
        </div><!--Array Closing-->
            </mat-expansion-panel>

             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Employement Data
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>


              <div formArrayName="addEmployment"

               *ngFor="let emp of UserProfile.get('addEmployment')['controls'];let e=index;">

                  <div [formGroupName]="e">

              <div>
                <mat-form-field>
                    <mat-label>Name of the organization</mat-label>
                    <input matInput formControlName="Organization">
                    <mat-error *ngIf="emp.get('Organization').invalid && emp.get('Organization').touched">
                        {{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

         <div>
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="Fromdate"
                placeholder="From Date" formControlName="Fromdate">

                <mat-datepicker-toggle matSuffix [for]="Fromdate"></mat-datepicker-toggle>
                <mat-datepicker #Fromdate></mat-datepicker>
                <mat-error *ngIf="emp.get('Fromdate').invalid && emp.get('Fromdate').touched">
                    {{getErrorMessage()}}</mat-error>
           
              </mat-form-field> 
       
                <mat-form-field>
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="Todate"
                    placeholder="To Date" formControlName="Todate" [min]="emp.get('Fromdate').value">
                    <mat-datepicker-toggle matSuffix [for]="Todate"></mat-datepicker-toggle>
                    <mat-datepicker #Todate></mat-datepicker>
                    <mat-error *ngIf="emp.get('Todate').invalid && emp.get('Todate').touched">
                        {{getErrorMessage()}}</mat-error>
               
                  </mat-form-field> 
            </div>
             <div>
                <mat-form-field>
                    <mat-label>Designation</mat-label>
                <input matInput placeholder="Enter Your Designation*" formControlName="Designation"> 
                <mat-error *ngIf="emp.get('Designation').invalid && emp.get('Designation').touched">
                    {{getErrorMessage()}}</mat-error>
           
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Skills</mat-label>
                <input matInput formControlName="Skills"> 
                <mat-error *ngIf="emp.get('Skills').invalid && emp.get('Skills').touched">
                    {{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Current CTC</mat-label>
                    <input matInput formControlName="CTC">
                    <mat-error *ngIf="emp.get('CTC').invalid && emp.get('CTC').touched">
                        {{getErrorMessage()}}</mat-error>
               
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Experience</mat-label>
                    <input matInput formControlName="Experience">
                    <mat-error *ngIf="emp.get('Experience').invalid && emp.get('Experience').touched">
                        {{getErrorMessage()}}</mat-error>
               
                </mat-form-field>
            </div>
             <div>
            <section class="example-section ">
                <span class="example-list-section">
                    <mat-checkbox formControlName="InterestedinJobOpp"> Interested for Job Opportunities </mat-checkbox>
                    <mat-error *ngIf="emp.get('InterestedinJobOpp').invalid && emp.get('InterestedinJobOpp').touched">
                        {{getErrorMessage()}}</mat-error>
               
                </span>
              </section>
            </div>
            <div>
                <mat-field class="example-section training">
                    <mat-label class="example-margin">Training Required : </mat-label>&nbsp;
                    <mat-radio-group formControlName="TrainingRequired" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="No">No</mat-radio-button>
                    <mat-error *ngIf="emp.get('TrainingRequired').invalid && emp.get('TrainingRequired').touched">
                        {{getErrorMessage()}}</mat-error>
               
                    </mat-radio-group>
                </mat-field>
                    
            </div>  
        </div><!--FormGroupClosing-->
        <span class="row groupClickButton">
    <div class="col-2">            
    <button type="button" mat-raised-button  color="primary" (click)="addEmploymentButtonClick()"
            [disabled]="UserProfile.get('addEmployment').invalid">Add Additional Employment Info</button>
        </div>
            <div  class="col-2" *ngIf="employmentGroupLength>1">
                <button type="button" mat-raised-button color="warn" (click)="removeEmploymentButtonClick(e)">
                Remove</button>
            </div>

        </span>


        </div><!--Array   Closing-->
            </mat-expansion-panel>
          </mat-accordion>
          <div class="text-center">
          <button type="Submit" class="btn btn-primary submit" [disabled]="UserProfile.invalid" >Submit</button>
          </div>
    </form>
</article>
<app-footer></app-footer>


