.userProfileTitle{
  margin-top:2em;
  text-align:center;
}

mat-expansion-panel{
  border:1px solid #7c7c7c;
  box-shadow: 0px 0px 5px 4px rgb(128,128,128.0.75);
  margin-bottom:0.7em !important;
}

.mat-expansion-panel-body{
  margin:2em !important;
}
mat-panel-title{
  font-weight: 500;
}
mat-form-field{
  line-height:2.5;
}

mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.example-margin{
font-size: 11pt;
font-weight: thin;
color: #7c7c7c;
}
.addressBlock {
  display: inline-block;
  margin: 5px 23px 30px -9px;

}
select.cascade.form-control {
  border: none;
  width: 180px;
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 1px solid #999;
}
select.cascade.form-control:active, select.cascade.form-control:hover{
  outline: none;
  box-shadow: none;
  border: none;
  width: 180px;
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 1px solid #999;  

}


.img-file {
  width: 88px;
  margin: 1px 31px;
  cursor: pointer;
  color: white;
}
div .form-group{
    width:700px;
}
img.toggle-side {
  cursor: pointer;
}

 button .addEducationbtn{
   position: relative;
   left:300px;
}
.checkWhatsapp{
  font-size:0.9em !important;
}

.has-error{
  border:1px solid red;
}

.profilePic{
  margin:0;
  float:right;
  margin-right:10px;

}
.errortext{
  position: absolute;
  color: red;
  margin: -1px;
  font-size: 12px;
}

button.submit{
justify-content: center !important;
margin-top:1.5em;
}
.Streetname{
  margin-bottom:15px;
  margin-top: 15px;
}
mat-error{
  font-size: 1.2em;
}

mat-select-content :hover{
  background-color: red;
  font-size: 1.5em;
}

/* profile Img Alignment */

.profilePic{
  float:right;
  line-height:0.8 !important;

}
img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 7px;

  box-shadow: 0px 0px 5px 4px rgb(128,128,128.0.75);
  border: 1px solid gray;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5); 
  pointer-events: none;
  z-index: 1;
  border-radius: 7px;

}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
    display:none;
}


.asterisk_input::after 
{
    content:" *"; 
    color: red;
}

small{
  font-size:1em;
}

div .noteImg{
  font-size:0.9em !important;
}

.example-section{
  margin-top:1.5em;
  margin-bottom: 1.5em;
}

.submitButton{
  padding-bottom:3rem;
}
.footer{
  position:absolute !important;
  bottom:0 !important;
  width:100% !important;
  height:2.5rem !important;
}