<app-navigation></app-navigation>
<article class="container">
    <h2>USER PROFILE</h2>
    <form (submit)="userform()" [formGroup]="UserProfile">
       <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal Data
                </mat-panel-title>
                <mat-panel-description>
                      About
             </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-form-field>
                    <mat-label>Candidate ID</mat-label>
                    <input matInput formControlName="CandidateId">
                </mat-form-field>
            </div>
            <div>
            <mat-form-field>
                <mat-label>Job Title</mat-label>
                <select matNativeControl required formControlName="JobTitle">
                    <option value=""></option>
                    <option value="WebDev">Web developer</option>
                    <option value="SoftwareEngineer">Software Engineer</option>
                    <option value="SoftwareDev">Software Developer</option>
                </select>
            </mat-form-field>
            </div> 

            <div>
                <mat-form-field>
                    <mat-label>First Name*</mat-label>
                    <input matInput formControlName="FName">
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="MName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name*</mat-label>
                    <input matInput formControlName="LName">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Email ID*</mat-label>
                    <input matInput formControlName="Email">
                </mat-form-field>



                <mat-form-field >
                    <mat-label>Date Of Birth*</mat-label>
                    <input matInput [matDatepicker]="picker"
                    placeholder="Date Of Birth" formControlName="DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
          </div>

            <div>
                <mat-form-field>
                    <mat-label>Mobile Number*</mat-label>
                    <input matInput formControlName="Mobile">
                </mat-form-field>                     

                <mat-form-field>
                    <mat-label>Alternate Contact Number</mat-label>
                    <input matInput placeholder="Optional"formControlName="AlternateContact">
                </mat-form-field>

            </div>
            <div>
            <section class="example-section checkWhatsapp">
                <mat-checkbox formControlName="WhatsAppCheck"
                class="example-margin">Check Mobile Number is same as WhatsApp number</mat-checkbox>
        </section>
    </div>


            <div>

                <mat-form-field>
                    <mat-label>ID Type*</mat-label>
                    <select matNativeControl formControlName="IdType">
                        <option value=""></option>
                        <option value="Passport">Passport</option>
                        <option value="Aadhar Card">Aadhar Card</option>
                        <option value="Driving License">Driving License</option>
                        <option value="Voter Id">Voter Id</option>
                        <option value="Pan Card">Pan Card</option>
                    </select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>ID Number*</mat-label>
                    <input matInput formControlName="IdNumber">
                </mat-form-field>
            </div>
            <div>
                <div style="width: 200px;" >
                 <label>Select Country</label>
                  <select class="form-control" formControlName="Country"
                  (blur)="onChangeCountry($event.target.value);"
                  (change)="onChangeCountry($event.target.value)" 
                  [ngClass]="{'has-error':Countryctrl.touched && CountryValueNull}">
                    <option value="default">Select Country</option>
                 <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
                  </select>  
                 </div>
                 <div style="width: 200px;">
                   <label>Select State</label>
                    <select class="form-control"formControlName="State" (blur)="onChangeState($event.target.value);"
                    (change)="onChangeState($event.target.value)"
                    [ngClass]="{'has-error':Statectrl.touched && StateValueNull}">
                        <option value="default">Select State</option>
                        <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
                    </select>  
                 </div>
                 <div style="width: 200px;">
                    <label>Select City</label>
                    <select class="form-control" formControlName="City"
                    (blur)="onChangeCity($event.target.value);"
                    [ngClass]="{'has-error':Cityctrl.touched && CityValueNull}">
                        <option value="default">Select City</option>
                      <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
                    </select>  
                </div>
                <mat-form-field>
                    <mat-label>Street Name*</mat-label>
                    <input matInput formControlName="StreetName">
                </mat-form-field>
            </div>    
        </mat-expansion-panel>


             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Educational Details
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>

            <div formArrayName="addEduation" 
            *ngFor="let edu of UserProfile.get('addEduation')['controls'];let i=index;">

            <div [formGroupName]="i">

              <div>
                <mat-form-field
                 [ngClass]="{'has-error':edu.get('EducationalType').invalid && edu.get('EducationalType').touched}">
                    <mat-label [attr.for]="'EducationalType'+i">Educational Type</mat-label>
                    <input [id]="'EducationalType'+i" matInput formControlName="EducationalType">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field
                [ngClass]="{'has-error':edu.get('CompletedYear').invalid && edu.get('CompletedYear').touched}">
                    <mat-label [attr.for]="'CompletedYear'+i">Completed year</mat-label>
                    <input  [id]="'CompletedYear'+i"matInput formControlName="CompletedYear">
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field
                [ngClass]="{'has-error':edu.get('Percentile').invalid && edu.get('Percentile').touched}">
                    <mat-label [attr.for]="'Percentile'+i">Percentile/CGP</mat-label>
                    <input [id]="'Percentile'+i" matInput formControlName="Percentile">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field
                [ngClass]="{'has-error':edu.get('Institution').invalid && edu.get('Institution').touched}">
                    <mat-label [attr.for]="'Institution'+i">Name of the Institution</mat-label>
                    <input [id]="'Institution'+i"matInput formControlName="Institution">
                </mat-form-field>
            </div>

        </div><!--FormGroup Closing-->
        <span class="row">
            <div class="col-4">
          <button class="addEducationbtn" mat-raised-button  color="primary" (click)="addEducationButtonClick()"
          [disabled]="UserProfile.get('addEduation').invalid">Add Additional Education Info</button>
      </div>

          <div class="col-4" *ngIf="educationGroupLength>1">
              <button type="button" mat-raised-button color="warn" (click)="removeEducationButtonClick(i)">
              Remove</button>
          </div>
        </span>


        </div><!--Array Closing-->

        
            </mat-expansion-panel>



             <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Employement Details
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>


              <div formArrayName="addEmployment"

               *ngFor="let emp of UserProfile.get('addEmployment')['controls'];let e=index;">

                  <div [formGroupName]="e">

              <div>
                <mat-form-field
                    [ngClass]="{'has-error':emp.get('Organization').invalid && emp.get('Organization').touched}">
                    <mat-label>Name of the organization</mat-label>
                    <input matInput formControlName="Organization">
                </mat-form-field>
            </div>

         <div>
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="Fromdate"
                placeholder="From Date" formControlName="Fromdate">
                <mat-datepicker-toggle matSuffix [for]="Fromdate"></mat-datepicker-toggle>
                <mat-datepicker #Fromdate></mat-datepicker>
              </mat-form-field> 
       
                <mat-form-field>
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="Todate"
                    placeholder="To Date" formControlName="Todate">
                    <mat-datepicker-toggle matSuffix [for]="Todate"></mat-datepicker-toggle>
                    <mat-datepicker #Todate></mat-datepicker>
                  </mat-form-field> 
            </div>
             <div>
                <mat-form-field 
                [ngClass]="{'has-error':emp.get('Designation').invalid && emp.get('Designation').touched}">
                    <mat-label>Designation</mat-label>
                <input matInput placeholder="Enter Your Designation*" formControlName="Designation"> 
                </mat-form-field>
            </div>
            <div>
                <mat-form-field
                [ngClass]="{'has-error':emp.get('CTC').invalid && emp.get('CTC').touched}">
                    <mat-label>Current CTC</mat-label>
                    <input matInput formControlName="CTC">
                </mat-form-field>
                <mat-form-field 
                [ngClass]="{'has-error':emp.get('Experience').invalid && emp.get('Experience').touched}">
                    <mat-label>Experience</mat-label>
                    <input matInput formControlName="Experience">
                </mat-form-field>
            </div>
             <div>
            <section class="example-section"
            [ngClass]="{'has-error':emp.get('InterestedinJobOpp').invalid && emp.get('InterestedinJobOpp').touched}">
                <span class="example-list-section">
                    <mat-checkbox formControlName="InterestedinJobOpp"> Interested for Job oppurtunities </mat-checkbox>
                </span>
              </section>
            </div>
            <div>
                <mat-field 
                [ngClass]="{'has-error':emp.get('TrainingRequired').invalid && emp.get('TrainingRequired').touched}">
                    <mat-label class="example-margin">Training Required : </mat-label>&nbsp;
                    <mat-radio-group formControlName="TrainingRequired"[(ngModel)]="myval" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                </mat-field>
                    
            </div>  
        </div><!--FormGroupClosing-->

        <div>
            <button type="button" mat-raised-button  color="primary" (click)="addEmploymentButtonClick()"
            [disabled]="UserProfile.get('addEmployment').invalid">Add Additional Employment Info</button>
            
            <div *ngIf="employmentGroupLength>1">
                <button type="button" mat-raised-button color="warn" (click)="removeEmploymentButtonClick(e)">
                Remove</button>
            </div>

          </div>


        </div><!--Array Closing-->
            </mat-expansion-panel>
          </mat-accordion>

          <button type="Submit" class="btn btn-primary">Submit</button>

    </form>
</article>
<app-footer></app-footer>


