<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-md navbar-dark px-0 justify-content-start head-nav"> 
    <a class="navbar-brand mr-0" routerLink="/HardGraft">
      <img id="logo" src="/assets/images/logo.png"></a> 
      <div class="flex-column d-flex">
          <h6 class="mb-0 notification">Hard Graft</h6> 
          <small class="text-muted notify-count">Work your fingers to Bone <span class="fa fa-check-square-o"></span></small>
      </div> 
          <ul class="navbar-nav">
                <li class="nav-item  right icon-nav">
                   <!-- <a class="nav-link icon-nav-link-pro" routerLink="/register">
                    <h1><strong>Register</strong></h1>
                </a>  -->
                <div type="button" id="forgetpswd" class="text-light effect-underline" data-toggle="modal" data-target="#pwdModal1">
                  <h1><strong>Register</strong></h1>
                </div>
               </li>
          </ul>
  </nav>
</div>
<div class="login-page">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-5">
      <div class="card bg-secondary shadow border-0">
        <h2 class="hed-txt"><strong>Log In</strong></h2>
        <div class="card-body px-lg-6 py-lg-5">
          <form (submit)="doLogin()" [formGroup]="loginForm">
            <mat-error *ngIf="errorup">{{logMessage}}</mat-error>
            <div class="form-group mb-5" [ngClass]="{'has-error': EmailIdCtrl.invalid && EmailIdCtrl.touched }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <img src="/assets/images/name.svg" class="mat-ic">
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="EmailId" required="">
              </div>
              <div class="errorpopup" *ngIf='EmailIdCtrl.invalid && EmailIdCtrl.touched'>
                Please Enter Valid Email
             </div>
              
            </div>

            <div class="form-group" [ngClass]="{'has-error':PasswordCtrl.touched && PasswordCtrl.invalid }" >
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <img src="/assets/images/pwd1.svg" class="mat-ic">
                </div>
                <input class="form-control" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="Password" required="">
                <button type="button" class="pwdhid" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="pwdic">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
              </div>
              <div class="errorpopup" *ngIf='PasswordCtrl.errors?.minlength && PasswordCtrl.touched'>
                Required atleast 8 Charactors
             </div>
            <div class="errorpopup" *ngIf='PasswordCtrl.errors?.required && PasswordCtrl.touched'>
                Please Enter Password
             </div> 
              
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Sign Up</button>
            </div>
          </form>
        </div>       
        <div class="row mt-3">
          <div class="col-6">
          <a class="text-light effect-underlin" data-toggle="modal" data-target="#pwdModal">
            <strong>Forgot password ?</strong>
          </a>
        </div>
          <div class="col-6 text-right">
            <a class="text-light effect-underlin" data-toggle="modal" data-target="#pwdModal1"><strong>Create new account</strong></a>
          </div>
        </div>
        <!-- <hr class="horizontalLine"> -->
        <h3 class="hed-txt loginWith"><strong> Or</strong></h3>
        <div class="ssobtn">
        <a routerLink="" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
        <a routerLink="" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
        <a routerLink="" class="icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
        <a routerLink="" class="icon-button google"><i class="fa fa-google"></i><span></span></a>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">What's My Password?</h1>  
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          
                          <p>If you have forgotten your password you can reset it here.</p>
                          <mat-error *ngIf="errorup1">{{'User Not Register'}}</mat-error>
                            <div class="panel-body">
                                <form (submit)="forgetpassword()" [formGroup]="forgetForm">
                                    <div class="form-group">
                                        <input class="form-control input-lg" placeholder="E-mail Address" formControlName="ForgetEmail">
                                    </div>
                                    <div *ngIf="ForgetEmailCtrl.invalid && ForgetEmailCtrl.touched">
                                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Please Enter Valid Email</strong>
                                      </div>
                                      <!--<mat-error>Please Enter Valid Email</mat-error>-->
                                    </div>
                                    <input class="btn btn-lg btn-primary btn-block" [disabled]="ForgetEmailCtrl.invalid" value="Reset My Password" type="submit">
                                  </form>    
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" (click)="close()" aria-hidden="true">Cancel</button>
            <button *ngIf="errorup1" style="margin-left: 60%;" class="btn btn-success btn-sm" routerLink="/register">Register</button>
      </div>	    
      </div>
  </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">THANK YOU</h1>
      </div>
      <div class="modal-body">
        Reset Password Link sent to your Register Email Address
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " (click)="close1()" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Veriy Email address -->
<div id="pwdModal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Registeration</h1>  
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          
                          <p>Please Enter Your Email address here.</p>
                          <mat-error *ngIf="errorup2">{{'E-mail Address Already Exists'}}</mat-error>
                            <div class="panel-body">
                                <form (submit)="checkemail()" [formGroup]="emailCheckForm">
                                    <div class="form-group">
                                        <input class="form-control input-lg" placeholder="E-mail Address" formControlName="NewEmail">
                                    </div>
                                    <div *ngIf="NewEmailCtrl.invalid && NewEmailCtrl.touched">
                                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Please Enter Valid Email</strong>
                                      </div>
                                      <!--<mat-error>Please Enter Valid Email</mat-error>-->
                                    </div>
                                    <input class="btn btn-lg btn-primary btn-block" [disabled]="NewEmailCtrl.invalid" value="Generate Link" type="submit">
                                  </form>    
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" (click)="close()" aria-hidden="true">Cancel</button>
            <button *ngIf="errorup2" style="margin-left: 60%;" class="btn btn-success btn-sm" (click)="checkMailClose()">Login</button>
      </div>	    
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">THANK YOU</h1>
      </div>
      <div class="modal-body">
        Registeration Link sent to your given Email Address
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " (click)="close1()" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>