.text-muted {
    color: #0B1B87 !important;
}
.custom-control-label span {
    position: relative;
    top: 2px;
    right: 15px;
}
.card{
    background-color: #F5F5F5 !important;
}
.shadow {
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15) !important;
}
.hed-txt{
 text-align: center;
 margin: 10px;
}
img.mat-ic {
	padding: 5px;
	background-color: white;
}
.py-lg-5 {
    padding-top: 0rem !important;
}
.pl-lg-6, .px-lg-6 {
    padding-left: 1.5rem !important;
}
.pr-lg-6, .px-lg-6 {
    padding-right: 1.5rem !important;
}
.pb-lg-5, .py-lg-5 {
    padding-bottom: 0rem !important;
}
.mb-4, .my-4{
    margin-bottom: 0.5rem !important;
    margin-top: 11px!important;
}
.mb-5, .my-5 {
    margin-bottom: 2rem !important;
}
.mt-4, .my-4 {
    margin-top: -0.5rem !important;
}
.loginWith{
    margin-top:-15px;
}
.ssobtn{
    text-align: center;
    padding-bottom: 15px;
    margin-right: 14px;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: none;
}

.flex-column {
    flex-direction: column !important;
    width: 240px;
}

.fa {
    padding-right: 0px;
    padding-left: 0px;
}
li.nav-item.icon-nav {
    padding: 0;
}
.navbar-brand {
    padding: 6px 16px;
    font-size: 16px
}

.navbar-nav {
    width: 100%;
    padding-right: 30px
}

.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px
}

.nav-link {
    padding: 5px
}
/* Search box css */
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    padding-top: 47px;
    height: 39px;
    margin: 0px auto;
    width: 25px;
}

.pwdhid {
    background: white;
    border: none!important;
    color: black;
    border-radius: 0;
    outline: none!important;
}
mat-icon.mat-icon.pwdic.material-icons {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    padding-top: 12px;
    height: 39px;
    margin: 0px auto;
    width: 25px;
}
mat-icon.mat-icon.mat-icon-no-color.material-icons.notranslate.pwdic {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    padding-top: 10px;
    height: 39px;
    margin: 0px auto;
    width: 25px;
}
mat-icon.mat-icon.mat-icon-no-color.material-icons.notranslate.pwdic {
    padding: 1!important;
}

.card-body.px-lg-5.py-lg-5 {
    padding: 0!important;
    margin: 10px 36px;
}
.text-light {
    color:#333 !important;
   font-weight: 500px;
   margin-left: 10px;
   margin-right: 10px;
}
.text-light small{
	font-weight: 600!important;
}
a.text-light:hover, a.text-light:focus {
    color: #333!important;
}
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 22px;
  display: inline-block;
  height: 1em;
  width: 53%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
a.effect-underlin:after {
	content: '';
  position: absolute;
  left: 80px;
  display: inline-block;
  height: 1em;
  width: 53%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underlin:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.loginhere{
	background-color: #B0C4DE;
	color: white;
	height: 35px;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-top: -15px;	
	margin-bottom: 10%;
	width: 50%;
	margin-left: 60px;
    box-shadow: lightslategray;;
}
.text-center{
	padding-top: 5px;

}
#logintext{
	font-weight: 650;
	padding-bottom: -20px;
}

.has-error{
    border:0.1px solid red;
    border-radius:3px;
    box-shadow: 0px 0px 3px 0.75px rgba(255,0,0,0.5);
}
.errorpopup{
background-color: transparent;
color:red;
position: absolute;
font-weight: 500;
padding: 7px 66px;
}

hr.horizontalLine {
    width: 145px;
    text-align: center;
    position: relative;
    left: 130px;
    background: black;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.linkedin span {
	background-color: #0e76a8;
}
.google span {
	background-color: #cb2027;
}
.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-facebook {
	color: #3B5998;
}
.icon-button .fa-linkedin {
	color:  #4099ff;
}
.icon-button .fa-google {
	color: #cb2027;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-google {
	color: white;
}
/* Search box css */
@media (max-width: 992px) {
    .flex-column {
        flex-direction: column !important;
        width: 270px;
    }
.form-group.has-search {
    text-align: center;
    margin-left: 50px;
    width: 100%;
}
ul.navbar-nav.mr-auto {
    padding: 10px;
}
nav.navbar.navbar-expand-lg.navbar-dark{
    padding: 0px!important;
    background-color: #FFFFFF !important;
} 
}

@media (max-width: 768px) {
    .flex-column {
        flex-direction: column !important;
        width: auto;
    }
    .nav-link span.fa {
        padding: 10px;
    }
    li.nav-item.icon-nav {
        padding: 7px;
    }
    nav.navbar.navbar-expand-md.navbar-dark.px-0.justify-content-start.head-nav{
        padding: 5px;
        background-color: #F5F5F5;
    }
    .nav-link {
        padding: 15px;
    }
    .navbar-nav {
        padding-right: 3px
    }

    .nav-item {
        width: 100%;
        text-align: left
    }

    .right {
        margin-left: 3px
    }

    .navbar-toggler {
        margin-left: auto
    }

    .nav-text {
        display: inline-block
    }
}
@media(max-width:767px){
    #sidebar-wrapper {
        position: absolute;
        left: 250px;
        width: 250px;
        height: 86.5%;
        margin-left: -250px;
        overflow-y: hidden;
        overflow-x: hidden;
        background: #DCDCDC;
        transition: all 0.5s ease;
    }
}
@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }

}
@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
    }