.card{
    background-color: #F5FFFA!important;
}
.card-body.px-lg-5.py-lg-5 {
    padding: 0!important;
    margin: 10px 36px;
}
.text-light {
    color: white !important;
}
.text-light {
    color: #333 !important;
    font-weight: 500px;
    font-family: fantasy;
}
.header {
    position: relative;
    max-width: 98%;
    margin-top: 61px;
}
// header css
.mat-form-field {
    display: block;
    padding: 10px 20px;
    position: relative;
    text-align: left;
    width: 100%;
}
.mat-card {
    width: 35%;
    margin: 50px auto;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}
button.mat-raised-button.mat-primary {
    position: relative;
    margin-left: 225px;
}
.mat-card-title {
    margin-bottom: 8px;
    text-align: center;
}
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    top: 4px;
    width: 24px;
    position: relative;
}
p.toolhd {
    text-align: center;
    margin: 258px;
    font-size: 40px;
    font-weight: 500;
}
.mat-toolbar.mat-toolbar-single-row {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)!important;
    background-size: 400% 400%!important;
    animation: gradient 15s ease infinite!important;
}