<mat-toolbar>
  <p class="toolhd">
  Welcome Onboard
</p>
</mat-toolbar>
<div class="example-container">
  <mat-card>
    <mat-card-title>
      Log In
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button> 
  </mat-form-field>
  <mat-checkbox>Remember me</mat-checkbox>
  <button mat-raised-button color="primary">Submit</button><div >
    <a routerLink="/" class="text-light"><small>Forgot password?</small></a>
  </div>
  <div>
    <a routerLink="/register" class="text-light"><small>Create new account</small></a>
  </div>
</mat-card>
</div>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
