<app-navigation></app-navigation>

<article class="container">
    <h2 class="usertitle">Username Information</h2>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Personal Data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
            <span class="label">Candidate Id</span> 
            <span>10767</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Title</span>
            <span>{{UserInfo.JobTitle}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="label">First Name</span>
            <span>{{UserInfo.FName}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Middle Name</span>
            <span>{{UserInfo.MName}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="label">Last Name</span>
            <span>{{UserInfo.LName}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Email</span>
            <span>{{UserInfo.Email}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Id Type</span>
            <span>{{UserInfo.IdType}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Id Number</span>
            <span>{{UserInfo.Number}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Mobile Number</span>
            <span>{{UserInfo.Mobile}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Alternate Contact Number</span>
            <span>{{UserInfo.AlternateContact}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Address</span>
            <span>{{UserInfo.Address}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">City</span>
            <span>{{UserInfo.City}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">State</span>
            <span>{{UserInfo.State}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="label">Country</span>
            <span>{{UserInfo.Country}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel><!--Personal Data Closing-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Educational Data   
         </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngFor="let user of UserInfo.addEduation">
      <mat-list-item>
          <span class="label">Educational Type</span>
          <span>{{user.EducationalType}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Completed Year</span>
        <span>{{user.CompletedYear}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Percentile/CGP</span>
          <span>{{user.Percentile}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Name of the Institution</span>
        <span>{{user.Institution}}</span>
    </mat-list-item>
    </mat-list>

    </mat-expansion-panel><!--Educational Data Closing-->


    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Empolyment Data   
         </mat-panel-title>
      </mat-expansion-panel-header>
    <mat-list *ngFor="let company of UserInfo.addEmployment">
      <mat-list-item>
          <span class="label">Name of the Organization</span>
          <span>{{company.Organization}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">From Data</span>
          <span>{{company.Fromdate}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">To Date</span>
          <span>{{company.Todate}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Designation/Role</span>
        <span>{{company.Designation}}</span>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="label">Skills</span>
        <span>{{company.Skills}}</span>
     </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Current CTC</span>
          <span>{{company.CTC}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Total Experience</span>
          <span>{{company.Experience}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Interested for new opportunities </span>
          <span>{{company.InterestedinJobOpp}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="label">Training  Required</span>
          <span>{{company.TrainingRequired}}</span>
        </mat-list-item>
    </mat-list>
    </mat-expansion-panel><!--Employment Data Closing-->

  </mat-accordion>
</article>
