<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-md navbar-dark px-0 justify-content-start head-nav"> 
    <a class="navbar-brand mr-0" routerLink="/HardGraft">
      <img id="logo" src="/assets/images/logo.png"></a> 
      <div class="flex-column d-flex">
          <h6 class="mb-0 notification">Hard Graft</h6> 
          <small class="text-muted notify-count">Work your fingers to Bone <span class="fa fa-check-square-o"></span></small>
      </div> 
          <ul class="navbar-nav">
                <li class="nav-item  right icon-nav">                
                   <a class="nav-link icon-nav-link-pro" routerLink="/">
                    <h1><strong>Login</strong></h1></a> 
               </li>
          </ul>
  </nav>
</div>
<!-- Page content -->
<div class="login-page">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4 hed-txt">
                <h1><strong>Create an account</strong></h1>
              </div>
              <form role="form" (submit)="SignUp()" [formGroup]='signUpUser' spellcheck="false">               
               <div class="form-inline flusri-6">
                <div class="form-group flusrg-7" [ngClass]="{'has-error':FnameCtrl.errors && (FnameCtrl.dirty || FnameCtrl.touched)}" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/name.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" formControlName="FirstName" placeholder="First Name" type="text">
              
                  </div>
                  <div class="row">
                   <div class="errorpopup-fnm regform" *ngIf='FnameCtrl.invalid && FnameCtrl.touched'>
                           Please Enter Your First Name
                    </div>
                  </div>
                </div>


                <div class="form-group flusrg-7" [ngClass]="{'has-error':LnameCtrl.errors && (LnameCtrl.touched)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/name.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" formControlName="LastName" placeholder="Last Name" type="text">
                  </div>
                   <div class="errorpopup-lnm regform" *ngIf='LnameCtrl.invalid && LnameCtrl.touched'>
                            Please Enter Your Last Name 
                         </div>
                </div>
              </div>
              
                <div class="form-group flusrg-7" [ngClass]="{'has-error': emailCtrl.touched  && emailCtrl.errors }">
                    <div class="input-group input-group-alternative fgew-1">
                      <div class="input-group-prepend">
                        <img src="/assets/images/email.svg" class="mat-ic">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" formControlName="EmailId" required (blur)="checkemail(emailCtrl.value)" placeholder="Email" type="email">
                    </div>
                    <div class="errorpopup-emal regform" *ngIf='emailCtrl.invalid && emailCtrl.touched'>
                              Please Enter Valid Email
                           </div>
                           <div class="errorpopup-emal regform" *ngIf='submitted'>
                            Email Id Already Exist
                         </div>
                  </div>
                  <div class="form-inline flusr-6">
                <div class="form-group flusrg-7" [ngClass]="{'has-error':PasswordCtrl.errors && (PasswordCtrl.touched)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/pwd.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control"  formControlName="Password"  [type]="hide ? 'password' : 'text'" placeholder="Password *"type="password">
                    <button type="button" class="pwdhid" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon class="pwdic">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> 
                  </div>
                   <div class="errorpopup-pw1 regform" *ngIf='PasswordCtrl.errors?.minlength && PasswordCtrl.touched'>
                            Required atleast 8 Charactors
                         </div>
                        <div class="errorpopup-pw1 regform" *ngIf='PasswordCtrl.errors?.required && PasswordCtrl.touched'>
                            Please Enter Password
                         </div> 
                </div>
                <div class="form-group flusrg-7" [ngClass]="{'has-error': (ConfirmPassCtrl.touched || ConfirmPassCtrl.dirty) && (PasswordCtrl.value!==ConfirmPassCtrl.value)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/pwd1.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control"  #A formControlName="ConfirmPassword" [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password *" type="password">
                    <button type="button" class="pwdhid" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon class="pwdic">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> 
                  </div>
                   <div class="errorpopup-cpw regform" *ngIf="ConfirmPassCtrl.touched && PasswordCtrl.value!==ConfirmPassCtrl.value">
                         Password MisMatch 
                         </div>  			  
                </div>
                </div>
                <div class="form-inline flusr">
                  <div class="row">
                 <div class="form-group flusrg-7" [ngClass]="{'has-error':MobileNoCtrl.errors &&(MobileNoCtrl.touched)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/phone.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" formControlName="MobileNo" placeholder="Phone Number *" type="number">
                  </div>
                  <div class="errorpopup-pn regform" *ngIf='MobileNoCtrl.invalid && MobileNoCtrl.touched'>
                            Please Enter Valid Mobile Number
                         </div>  			  
                </div>
               <div class="form-group flusrg-7" [ngClass]="{'has-error':CompanyCtrl.errors && (CompanyCtrl.touched)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <img src="/assets/images/company.svg" class="mat-ic">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control"  formControlName="Company" placeholder="Company Name *" type="text">
                  </div>
                   <div class="errorpopup-cm regform" *ngIf='CompanyCtrl.invalid && CompanyCtrl.touched'>
                            Please Enter Valid Company Name
                         </div>   			  
                </div> 
              </div>
              </div>
                <div class="recaptcha frbtsb">
                  <div class="captcha-left">
                  <re-captcha (resolved)='resolved($event)' formControlName="recaptchaReactive" siteKey='6LekZ6YZAAAAAJ3Yk45kRNRlY2eMW_zQNOAdbVbJ'></re-captcha>
                </div>
                </div>
                <div class="input-group flusrg-7 size1">
                  <button mat-raised-button color="primary" type="submit" [disabled]="signUpUser.invalid || submitted"  class="btn-sb my-4 my-4 cd-popup-trigger btn btn-default size">Sign Up</button>
                </div>
              </form>
            </div>       
          </div>
        </div>
            </div>
    </div>
    <!--"signUpUser.invalid"-->
    <div class="cd-popup" role="alert">
      <div class="cd-popup-container">
        <p>Yay! Successfully registered!!</p>
        <ul class="cd-buttons">
          <li><a routerLink="">Click to login</a></li>
          <!-- <li><a href="#0">No</a></li> -->
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
      </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
    <!-- Expired Modal-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sorry !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Registeration Link Timed Out . Please try again !! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Well Done !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Successfully registered!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/">Login</button>
      </div>
    </div>
  </div>
</div> -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">THANK YOU</h1>
      </div>
      <div class="modal-body">
        A link sent to your given Email address. Please click to complete your registeration
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " (click)="close1()" data-dismiss="modal" routerLink="/">OK</button>
      </div>
    </div>
  </div>
</div> 
<div class="spinoverlay, spincenter" *ngIf="spinner">
  <mat-progress-spinner diameter=50 mode="indeterminate">
</mat-progress-spinner> 
</div>

    <app-footer></app-footer>