.hed-txt{
    text-align: center;
    margin: 10px;
   }
   .input-group.input-group-alternative {
    width: 250px;
}
.input-group.input-group-alternative.fgew-1 {
    width: auto;
}
img.mat-ic {
	padding: 5px;
	background-color: white;
}
mat-icon.mat-icon.mat-icon-no-color.material-icons.notranslate.pwdic {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    padding-top: 10px;
    height: 39px;
    margin: 0px auto;
    width: 25px;
}
.pwdhid {
    background: white;
    border: none!important;
    color: black;
    border-radius: 0;
    outline: none!important;
}
mat-icon.mat-icon.mat-icon-no-color.material-icons.notranslate.pwdic {
    padding: 1!important;
}