<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-md navbar-dark px-0 justify-content-start head-nav"> 
      <a class="navbar-brand mr-0" routerLink="/HardGraft">
        <img id="logo" src="/assets/images/logo.png"></a> 
        <div class="flex-column d-flex">
            <h6 class="mb-0 notification">Hard Graft</h6> 
            <small class="text-muted notify-count">Work your fingers to Bone <span class="fa fa-check-square-o"></span></small>
        </div> 
            <ul class="navbar-nav">
                  <li class="nav-item  right icon-nav">
                    <!-- <a class="nav-link icon-nav-link-pro" routerLink="/Profile">
                      <span class="fa fa-group"></span>
                      <span class="nav-text">Profile</span></a>  -->
                 </li>
            </ul>
    </nav>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark"> 
        <ul class="navbar-nav active mr-auto">         
            <li class="nav-item active"> <a class="nav-link" routerLink="/" data-abc="true">Dashboard <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/jobs" data-abc="true">Find Jobs</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/companies" data-abc="true">Find Companies</a> </li>
        </ul>
           <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>

  </nav> 
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
            <ul class="side-listu">
              <li> <a routerLink="">Overview</a></li>
              <li><a routerLink="/">Logout</a></li>
            </ul>
    </mat-drawer>
        <img src="/assets/images/toc-.svg " (click)="drawer.toggle()">
  </mat-drawer-container> 
 
  