

.lookUpTitle{
    margin-top:1em;
    font-family: 'Roboto', sans-serif;
  }

  article .inlineSection{
      display:inline-block !important;
  }

  article section mat-form-field{
      margin-right:3em !important;
  }

.submitButton{
    margin-top:1.2em;
    margin-bottom: 1.2em;
}

  table {
    width: 100%;
  }
  
  
  .table th,.table td{
    font-family:'Roboto', sans-serif ;
    font-size: 1.1em;
  }

  .table td{
      padding-top:9px !important;
  }

  .table th{
    background:rgb(216,216,216);

  }
  .table tr:nth-child(2n+0) {
    background:rgb(240,240,240);
  }
  #searchfield{
    border: 1px solid gainsboro;
    text-decoration: none;
  }